body{
    max-width: 500px;
    margin: auto;
    margin-top: 1.3em;
}
.nav_bar{
    font-weight: bold;
}
.nav_bar li{
    list-style-type: none;
    float: right;
    padding-left: 2em;

}
.nav_bar ul{
    margin-bottom: 2.5em;
    margin-left: 0;
    display: inline;
}

.nav_bar a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    color: grey;
}
